# Odysseus AI Workspace
LLM_HOST=
LLM_HOSTS=
OLLAMA_BASE_URL=
OPENAI_API_KEY=
ODYSSEUS_ADMIN_USER=
ODYSSEUS_ADMIN_PASSWORD=
ODYSSEUS_API_TOKEN=
SEARXNG_SECRET=
DATA_BRAVE_API_KEY=
GOOGLE_API_KEY=
DATA_GOOGLE_CX=
DATA_GOOGLE_API_KEY=
